[submodule "external/ktx"]
	path = external/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "cmake/ezvcpkg"]
	path = cmake/ezvcpkg
	url = https://github.com/jherico/ezvcpkg.git
